@import '../../../sass/styles';

:host {
  display: flex;
  flex-direction: column;
  border-right: 1px solid $primary;
  padding-right: 5%;
  height: 100%;

  button {
    text-align: start;
    font-size: 80%;
    padding: 15%;
  }
}
