@import '../../../sass/styles';

:host {
  //background-color: $danger;
  display: flex;
  align-items: center;
  margin: 0 10%;
}

input, button {
  border-radius: 5px;
}

input {
  border: 1px solid $light;
  padding: 4% 10%;
}

button {
  border: none;
  background-color: inherit;
}
