@import './variables';
@import './mixins';

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 120%;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  border: none;
  color: $primary;
  background-color: transparent;
}

button:hover {
  color: $light;
}
