<app-login *ngIf="!isUserLoggedIn && !emailConfirmation"></app-login>
<app-header *ngIf="isUserLoggedIn && !emailConfirmation"></app-header>
<app-nav *ngIf="isUserLoggedIn && !emailConfirmation"></app-nav>
<router-outlet></router-outlet>
<app-music-player-widget *ngIf="isUserLoggedIn && !emailConfirmation"></app-music-player-widget>
