@import '../sass/styles';

:host {
  app-header, app-nav {
    position: fixed;
    left: 2%;
  }

  app-header {
    right: 2%;
    top: 5%;
  }

  app-nav {
    display: none;
    top: 15%;
  }

  app-music-player-widget {
    position: fixed;
    left: 5%;
    right: 5%;
    bottom: 5%;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {}

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    app-nav {
      display: flex;
    }

    app-music-player-widget {
      left: 25%;
    }
  }
}
