<p *ngIf="confirmationCode==0" class="confirmationMessage">Confirmation is not valid.<br>We have sent a new activation email.</p>
<p *ngIf="confirmationCode==1" class="confirmationMessage">Your email address has been confirmed.</p>
