@import '../../../sass/styles';

:host {
  position: absolute;
  left: 50%;
  top: 20%;
  width: 400px;
  height: 200px;
  margin-left: -200px;
  border: 1px solid $light;
  border-radius: 10px;

  p {
    color: $primary;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
