<img (click)="onImageClick()" src="../../../assets/images/background.jpeg">

<div class="media-controller">
  <div class="info">
    <p>Name</p>
    <p>Artist</p>
  </div>

  <div class="controller">
    <button class="ion-ios-shuffle"></button>
    <button class="fas fa-backward"></button>
    <button id="button-play" class="fas fa-play"></button>
    <button hidden class="ion-ios-pause"></button>
    <button class="fas fa-forward"></button>
    <button class="ion-ios-repeat"></button>
  </div>
</div>

<input class="slider" type="range" min="0" max="100" value="0">




