@import '../../../sass/styles';

:host {
  height: 100px;
  background-color: $light;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 80%;
  border-radius: 50px;

  img {
    height: 120px;
    width: 120px;
    border-radius: 100%;
  }

  .media-controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 5%;
    //background-color: white;

    .info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    .controller {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      button {
        font-size: 80%;
      }

      button:hover {
        color: $secondary;
      }

      #button-play {
        font-size: 140%;
      }
    }
  }

  .slider {
    display: none;
  }

  .slider::-webkit-slider-thumb {
    display: none;
  }

  @media only screen and (min-width: 600px) {
    .media-controller {
      width: 70%;
    }
  }

  @media only screen and (min-width: 992px) {
    //width: 70%;
    //margin-left: -25%;
    justify-content: space-between;

    .media-controller {
      //width: 100%;
      margin-left: 0;
    }

    .slider {
      display: flex;
      -webkit-appearance: none;
      height: 3px;
      background: $primary;
      margin-right: 10px;
      width: 120px;
    }

    .slider::-webkit-slider-thumb {
      display: flex;
      appearance: none;
      width: 10px;
      height: 10px;
      background: $secondary;
      cursor: pointer;
      border-radius: 50%;
    }
  }
}


