<!--<form text-center (submit)="emitLoginEvent()">-->

  <!--<input [(ngModel)]="user.username" name="username" type="text" placeholder="Username" #username="ngModel"-->
         <!--required>-->

  <!--<input [(ngModel)]="user.password" name="password" type="password" placeholder="Password" #password="ngModel"-->
         <!--required>-->

  <!--<button type="submit" [disabled]="!username.valid || !password.valid">Login</button>-->

  <!--<h6 text-center>{{status}}</h6>-->
<!--</form>-->


<form class="login-form">
  <input type="text" ng-model="username" placeholder="username">
  <input type="text" ng-model="password" placeholder="password">
  <!--<button type="submit" [disabled]="!username.valid || !password.valid">Log In</button>-->
  <button type="submit">Log In</button>

</form>
<button (click)="onLoginClick()">Login with Facebook</button>
