@import '../../../sass/styles';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input, button {
    font-size: 60%;
    margin: 8px;
    border: 1px solid $secondary;
    border-radius: 5px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input {
      width: 100%;
      padding: 12px 20px;
      background-color: white;
    }

    button {
      width: 50%;
      padding: 8px;
      background-color: $primary;
    }
  }

  button {
    margin-top: 10%;
    padding: 8px;
    background-color: $Fb-blue;
    border-color: white;
    color: white;
  }
}
