<!--<ul>-->
  <!--<li><button (click)="onLogoClick()">Muzify</button></li>-->
  <!--<li *ngIf="!isUserLoggedIn"><button (click)="onLoginClick()">Log In</button></li>-->
  <!--&lt;!&ndash;<li><button (click)="onUploadMediaClick()" class="fas fa-cloud-upload-alt"></button></li>&ndash;&gt;-->
  <!--<li><button (click)="onUserProfileClick()"><i class="fas fa-user"></i></button></li>-->
<!--</ul>-->
<!--<div class="header">-->
  <button *ngIf="isUserLoggedIn" id="button-list" class="fas fa-bars"></button>
  <button *ngIf="isUserLoggedIn" id="button-home" (click)="onLogoClick()">Muzify</button>
  <app-search-bar *ngIf="isUserLoggedIn"></app-search-bar>
  <!--<li><button (click)="onUploadMediaClick()" class="fas fa-cloud-upload-alt"></button></li>-->
  <button *ngIf="isUserLoggedIn" id="button-user-profile" (click)="onUserProfileClick()"><i class="fas fa-user"></i></button>
<!--</div>-->

