@import '../../../sass/styles';

:host {
  display: flex;

  button {
    font-size: 80%;
  }

  #button-user-profile {

  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    #button-list {
      display: none;
    }
  }
}
